.tablesignup{
        background-color: #7738f6;
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        margin-top: 1%;
        margin-left: 250px;
        width: 210%;
        margin-right:1%;
}
.tablesignup h1{
    color: #ebeff2;
}
.tablesignup input{
    margin-top: 1%;
}
.tablesignup label{
    margin-top: 1%;
}
.tablesignup select{
    margin-top: 1%;
}
